.backcolor {
    background-image: url(backroundimage.jpg);
    height: 1400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardbackground {
    background-color: transparent;
}

.form {
    box-shadow: none !important;
}

